body {
	background: #f5f5f5;
	font-family: 'Fredoka One', cursive;
	margin: 10px;
}

.padding {
	padding: 40px 0;
}

h1 {
	font-size: 5em;
}

h2 {
	font-size: 3em;
}

hr {
    border: none;
    height: 1px;
    border-top: 1px solid #ccc;
    background-color: #fff; 
}

hr.short {
	max-width: 250px;
	border-top: solid 3px;
	text-align: center;
	margin: auto;
}

.portfolio-shadow {
	background: #AAA;
	border-radius: 15px;
	margin: auto;
	margin-bottom: 25px;
    width: 320px; 
    height: 190px;
}

.portfolio-item {
	border: solid;
	-moz-box-shadow:    inset 2px 2px 10px #000000;
	-webkit-box-shadow: inset 2px 2px 10px #000000;
	box-shadow:         inset 2px 2px 10px #000000;
	position: absolute;
	border-radius: 15px;
	margin: 0px 0px;
	padding: 10px;
	opacity: 1;
	transition: all .3s;
    width: 320px; 
    height: 190px;	
}

.portfolio-item:hover {
	margin: -25px -15px;
	opacity: .7;	
	transition: all .3s;
}

p.portfolio {
    font-size: 3em;	
}

.fa, p.portfolio {
    color: #fff;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black, 5px 5px 5px #333;
	font-style: italic;
}

footer {
	background: #313131;
	padding: 10px 0px 0px 0px;
}

.footer-copyright{
	background: #212121;
}

a {
    color: #555;
}

a:hover {
    text-decoration: none;
}
